# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# NestJS
dist/
coverage/

# Next.js
.next/
out/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
logs/
*.log
